<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
    <div id="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/1083/1083168.png" alt="">
    </div>
      <div></div>
    </div>
  </div>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Detección de luz</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Las abejas necesitan un espacio libre de luz para estar cómodas.
        Es por ello que se busca tener un control del ambiente en el que se encuentran. Para así poder ofrecerles una
        mejor calidad de vida.
      </p>
      <ion-item>
        <ion-badge slot="end">{{medicion}}%</ion-badge>
        <ion-label>
          <p><ion-icon name="sunny-outline"></ion-icon>Luminosidad:</p> 
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
