<ion-content>
  <div id="header">
    <div id="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/1971/1971452.png" alt="">
    </div>
    <h1>The Bug Home</h1>
  </div>

  <div>
    <img src="https://img.freepik.com/vector-gratis/linda-abeja-dibujada-mano-tarro-miel_79603-438.jpg?w=740&t=st=1679091458~exp=1679092058~hmac=418ec58afdada8385f0874afec9ebc6d6b27ab25f5a4851216bd903ea108fbdf" alt="">
    <p>Las abejas son unos de los insectos más importantes en el ecosistema debido a su papel crucial en 
      la polinización de las plantas. Como polinizadores, las abejas transportan polen de las flores de 
      una planta a otra, lo que permite que se produzca la fertilización y la formación de semillas y frutos.</p>
    <p>Además de su papel en la polinización, las abejas también desempeñan un papel importante en la 
      conservación de la biodiversidad al proporcionar alimento y refugio para otros animales, como aves
      y mamíferos pequeños. También son un indicador clave de la salud del ecosistema, ya que su declive 
      puede ser un signo de la contaminación y el cambio climático.</p>
  </div>

  <ion-card>
    <img src="https://www.gub.uy/ministerio-salud-publica/sites/ministerio-salud-publica/files/styles/documento/public/imagenes/noticias/77ADB575-5C3D-47CE-822E-2E400F479689.jpg?itok=2PD6XywF"/>
    <ion-card-header>
      <ion-card-title>Detección de humo</ion-card-title>
      <ion-card-subtitle>¿Humo en el hotel?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Mediante este sensor podemos conocer si nuestro hotel está quemandose o si hay alguien fumando cerca
      <ion-button expand="block"  routerLink="/humo">
        Monitorear
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://phantom-marca.unidadeditorial.es/2ef5845ff9fb214ca4c961542001048d/resize/828/f/webp/assets/multimedia/imagenes/2022/07/19/16582461284065.jpg"/>
    <ion-card-header>
      <ion-card-title>Detección de luz</ion-card-title>
      <ion-card-subtitle>¿Luz en el hotel?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Mediante este sensor podemos conocer si hay luz que moleste a las abejas en el hotel
      <ion-button expand="block"  routerLink="/luz">
        Monitorear
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
